@font-face {
  font-family: "Nunito_Sans";
  src: local("Nunito_Sans"),
    url("./fonts/Nunito_Sans/NunitoSans-Regular.ttf") format("truetype");
}

body, html {
  margin: 0;
  font-family: 'Nunito_Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:'Nunito_Sans', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}